# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
env/
venv/
ENV/
.VENV/

# SSH Keys and environment files 
ssh_keys/
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs and debug files
*.log
*.out
*.err

# Python egg files
*.egg
*.egg-info/
dist/
build/

# pytest cache
.pytest_cache/

# MyPy cache
.mypy_cache/

# IDEs and Editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# Operating system files
.DS_Store
Thumbs.db

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
